* {
  margin: 0; 
  padding: 0; 
}

div{
  font-size: 80px;
  font-style: clockbold;
  color: blanchedalmond;
}

html, body {
  height: 100%;
  margin-top: 20px;
font-family: 'JetBrains Mono', monospace;
}

#clock {
  text-align: center;
  position: relative;
  top: 30%;
}



